<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link href="/css/account.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="titleBar">
            <h1>Super SeaShell Kommerce Coalition</h1>
            <h3>Account</h3>
            <div id="navContainer">
                <nav>
                    <ul>
                        <li><a href="/pageRouter/index">Home</a></li>
                        <li><a href="/pageRouter/checkout" >Checkout</a></li>
                        <li><a href="/pageRouter/cart"><img src="/img/shopping-cart.png" id="shoppingCart" </a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="accountContainer">
            <ul>
                <li><a href="#">Update Email Address</a></li>
                <li><a href="#">Update Name</a></li>
            </ul>
            <br>
            <p>Current Addresses:</p>
            <br>
            <ul>
                <li>555 State Street, Citywalk, CA 99999<button>Delete</button></li>
                <li>555 Moms House, Farmville, CA 88888<button>Delete</button></li>
            </ul>
            <br>
            <a href="#">Add New Address</a>
        </div>
    </div>
</body>
</html>