<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link href="/css/cart.css" type="text/css" rel="stylesheet">
    <script src="/js/cart.js" type="text/javascript" defer></script>
</head>
<body>
    <div id="wrapper">
        <div id="titleBar">
            <h1>Super SeaShell Kommerce Coalition</h1>
            <h3>Shopping Cart</h3>
            <div id="navContainer">
                <nav>
                    <ul>
                        <li><a href="/pageRouter/index">Home</a></li>
                        <li><a href="/pageRouter/checkout" >Checkout</a></li>
                        <li><a href="/pageRouter/account">Account</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <h3 id="userCart">User's Shopping Cart</h3>
        <div id="shoppingCart">
            <table id="cartTable">
                <tr id="headerRow">
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Update</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>