<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super SeaShell Kommerce Coalition</title>
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <script src="/js/index.js" type="text/javascript" defer></script>
</head>
<body>
    <div id="wrapper">
        <div id="titleBar">
            <h4 id="welcome"></h4>
            <h1>Super SeaShell Kommerce Coalition</h1>
            <h3>We got the shells</h3>
            
            <div id="navContainer">
                <div>
                    <nav>
                        <ul>
                            <li><img src="/img/shopping-cart.png" id="shoppingCart"></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <h3 id="helloUser">Welcome</h3>
        <div class="productList">
            <ul>
                <li>
                    <img src="/img/shell01.jpg">
                    <p>The Conch. Beautiful and majestic. Perfect
                        for get togethers, parties, or other small
                        gatherings. 
                    </p>
                    <span>$10.99</span> <button id="conch">Add to Cart</button> 
                </li>
                <li>
                    <img src="/img/shell02.jpg">
                    <p>The Broken Heart. This makes a great gift to
                        those who have wronged you. 
                    </p>
                    <span>$5.99</span> <button id="brokenHeart">Add to Cart</button> 
                </li>
                <li>
                    <img src="/img/shell03.jpg">
                    <p>Ocean's Wail. This is a great seashell to have on
                        your coffee table to impress your guests. A very
                        popular pick.
                    </p>
                    <span>$19.99</span> <button id="oceansWail">Add to Cart</button> 
                </li>
                <li>
                    <img src="/img/shell04.jpg">
                    <p>The Tiny Titan. This little black swirl will keep
                        you company in your pocket during important moments
                        in your life. Never be without it.
                    </p>
                    <span>$14.99</span> <button id="tinyTitan">Add to Cart</button> 
                </li>
                <li>
                    <img src="/img/shell05.jpg">
                    <p>Sailor's Bounty. This is great shell to take on trips,
                        adventures, excursions, what have you. Always feel
                        safe while traveling. 
                    </p>
                    <span>$19.99</span> <button id="sailorsBounty">Add to Cart</button> 
                </li>
                <li>
                    <img src="/img/shell06.jpg">
                    <p>The White Princess. An extravegant and delightful
                        dinner centerpiece. Your dining experience is about
                        to get elevated.
                    </p>
                    <span>$24.99</span> <button id="whitePrincess">Add to Cart</button> 
                </li>
            </ul>
        </div>
        
    </div>
</body>
</html>