*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#titleBar{
    background: linear-gradient(0.25turn, rgb(0, 0, 255), rgb(217, 214, 248));
    padding: 5%;
    border-radius: 5px;
}

#navContainer{
    display: flex;
    align-items: center;
    justify-content: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    cursor: pointer;
    font-weight: 500px;
    position: relative;
    transition: 0.5s;

}

nav ul li:hover{
    background: yellow;
    border-radius: 20px;
}

#shoppingCart{
    width: 32px;
    height: 32px;
}

#userCart{
    margin-left: 2%;
}

a{
    text-decoration: none;
}

.checkoutContainer{
    margin: 5%;
    width: 75%;
    max-height: 50%;
    background: #fff;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 5px;
    padding: 2%;
    text-align: left;
}

table{
    table-layout: fixed;
    padding: 1%;
    border: 2px solid black;
    border-radius: 4px;
}

th{
    width: 10%;
    padding: 1%;
    border: 2px solid black;
    border-radius: 5px;
}

td{
    padding: 1%;
    
}

.addresses{
    margin: 5%;
    width: 75%;
    max-height: 50%;
    background: #fff;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 5px;
    padding: 2%;
    text-align: left;
}

input{
    margin: 2%;
    cursor: pointer;
}

#placeOrder{
    margin-left: 50%;
    padding: 2%;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    background: rgb(0, 0, 255);
    color: #fff;
    transition: 0.5s;
}

#placeOrder:hover{
    background: yellow;
    color: black;
}